<div class="profile-image f-left" title="Photo">
  <%= render :partial => "profile/profile_small_pic", :locals => {:show_large => 'large', :profile_small_pic => @user.user_id } %>
</div>
<span class="name"><%= @user.full_name.to_s %></span>
<p><%= @user.title.to_s %></br>
  <a href="mailto:<%= @user.mail.to_s %>"><%= @user.mail.to_s %></a></br>
  <%= @user.telephone_number.to_s %></br>
  <%= @user.office_name.to_s %></p>

<% if session[:username] != @user.user_id %>
<% if @favorites.count > 0 %>
<div class="button-white f-left">
  <div class="button-white-select" onclick="toggle('inner')">Add to Favorites</div>
</div>
<% end %>
<div class="button-white f-left" style="margin-left:5px;">
  <div class="button-white-select"><%= link_to @follower_status.capitalize, follow_unfollow_path(:id=>params[:id],:status=>@follower_status) %></div>
</div>
  <% if session[:username] != @user.user_id %>
    <div class="tooltip-inner">
      <dd>
        <ul style="right:34px; top:30px;">
          <% @favorites.each{|f| %>
          <li><%= link_to f.favorite, add_favorite_path(f.id, 'person', @user.id) %></li>
          <%  } %>
        </ul>
        <p id="arrow1" style="top:22px; left:135px;"></p>
      </dd>
    </div>
  <% end %>
<% end %>
