<% form_tag(forgot_password_users_path, {:name => "frm_forgot"}) do %>

  <div class="login-bg-middle login-sprite">
    <div class="error m2" id="div_error">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if flash[:warning] or flash[:notice] %>
          <%= flash[:warning] || flash[:notice] %>
          <script type="text/javascript">setTimeout("new Effect.Fade('notice');", 1000)</script>
      <% end %>
    </div>
    <p>
    <table cellspacing="0" cellpadding="0" width="100%" style="line-height: 35px;">
      <tr>
        <td>Email:</td><td><%= text_field("user", "mail", :class=>"login-input", :style=>"width:270px;") %></td>
      </tr>
    </table>
    </p>
  </div>

    <div class="login-bg-bot login-sprite">
      <div class="button-blue f-right" style="margin-right: 20px;">
        <div class="button-blue-select" onclick="document.forms[0].submit();">Email password</div>
        <input type="submit" style="border: 0 none; height: 0; width: 0; padding: 0; margin: 0;overflow: hidden;" tabindex="-1"/>
      </div>
      <div class="f-left" style="margin-right: 20px;">
        <%= link_to "Go Back", :back %>
      </div>
    </div>
<% end %>