<div class="one-column">
  <!-- form -->
  <%#= javascript_include_tag "form-validation.js" %>
<% form_tag(users_path, {:name => "frm_register", :id => "frm_register"}) do %>
<%= hidden_field("user", "status", :value => "-1") %>
    <fieldset>
      <div>
        <label>User name</label>
        <%= text_field("user", "user_id", :class=>"form-poshytip", :title=>"Enter user id") %>
      </div>
      <div>
        <label>Password</label>
        <%= password_field("user", "password", :class=>"form-poshytip") %>
      </div>
      <div>
        <label>Password confirmation</label>
        <%= password_field("user", "password_confirmation", :class=>"form-poshytip") %>
      </div>
      <div>
        <label>Full name</label>
        <%= text_field("user", "full_name", :class=>"form-poshytip", :title=>"Enter your full name") %>
      </div>
      <div>
        <label>Email</label>
        <%= text_field("user", "mail", :class=>"form-poshytip", :title=>"Enter your email address") %>
      </div>
      <div>
        <label>Mobile</label>
        <%= text_field("user", "mobile", :class=>"form-poshytip", :title=>"Enter your mobile number") %>
      </div>
      <div>
        <label>City</label>
        <%= text_field("user", "city", :class=>"form-poshytip", :title=>"Enter your city") %>
      </div>
      <div>
        <label>Country</label>
        <%= text_field("user", "country", :class=>"form-poshytip", :title=>"Enter your country") %>
      </div>
      <div>
        <label>Telephone</label>
        <%= text_field("user", "telephone_number", :class=>"form-poshytip", :title=>"Enter your telephone number") %>
      </div>

      <p><input type="submit" value="SEND" name="submit" id="submit" /></p>
    </fieldset>
<% end %>
</div>

<div class="one-column">
  <% if @user.errors.any? or flash[:warning] or flash[:notice] %>
    <p id="error" class="warning">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if flash[:warning] or flash[:notice] %>
          <%= flash[:warning] || flash[:notice] %>
          <script type="text/javascript">setTimeout("new Effect.Fade('notice');", 1000)</script>
      <% end %>
    </p>
  <% else %>
  Register today to start playing for free. Work your way above the rankings to reach the top.
  <% end %>
</div>
<script>
document.getElementById('user_user_id').focus();
</script>
